<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <title>New Property Page</title>
</head>
<body>
  <div class="container container-m-top">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <form action="{{url_for('newPropertyItem', project_id=project_id )}}" method = 'POST'>
          <div class="card text-center">
                <div class="card-header card-bg-color">
                     New Property Item
                 </div>
                 <div class="card-body">
                     <h6 class="card-title">Property Name</h6>
                     <center>
                     <input type="text" class="form-control w-50" placeholder="Enter Name of the Property" name='name'required>
                     </center>
                     <h6 class="card-title">Cost</h6>
                         <center>
                            <input type="text" class="form-control w-50" placeholder="Enter Cost of the Property" name='cost' required>
                         </center>
                     <h6 class="card-title">Type of Property</h6>
                     <select name="type">
                            <option value="Residential Rental">Residential Rental</option>
                            <option value="Residential Sale">Residential Sale</option>
                            <option value="Commercial Rental">Commercial Rental</option>
                            <option value="Commercial Sale">Commercial Sale</option>
                            <option value="Paying Guest">Paying Guest</option>
                      </select>
                       <h6 class="card-title">Facilities</h6>
                           <center>
                           <textarea class="form-control" rows="3" cols="30" name="facilities" required></textarea>
                           </center>
                           <br>
                            <button type="submit" class="btn btn-primary">Create</button>
                             <a href="{{url_for('showProperties',project_id=project_id)}}" class="btn btn-danger pull-right" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
              </div>
              <div class="col-3">
              </div>
            </div>
          </div>
</body>
</html>