<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <title>Project Menu Page</title>
</head>
<body>
  <h1>{{project.name}}</h1>
  <div class="container">
  <div class = "flash">
          {% with messages = get_flashed_messages() %}
      {% if messages %}          
        <ul id="unstyled">
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>    
    <div class="row">
      <div class="col-10">
        <h2 class="text-center">{{project.project_name}}</h2>
      </div>      
    </div>
    <div class="row">
      <div class="col">
        <!--Card-->
        <div class="card">
          <div class="card-body" id="crd-body">
                        <div class="row">
                          {% if properties.count() != 0 %}
                                {% for properti in properties %}
                                    <div class="col col-md-4">
                                              <div class="card properties-card">
                                                   <div class="card-body">
                                                         <h5 class="card-title">{{properti.property_name}}</h5>
                                                         <p>{{properti.property_type}}</p>
                                                         <p class="card-text">{{properti.facilities}}</p>
                                                         <p>{{properti.cost}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                {% endfor %}                                
                          {%else%}
                          <div class="col">
                                              <div class="card properties-card">
                                                   <div class="card-body text-center">
                                                         <h5>No Properties</h5>
                                                    </div>
                                                </div>
                                            </div>                          
                          {% endif %}
                     </div>
                <div class="row">
                <div class="col">
                  <a href="{{url_for('showProjects')}}">
                     <i class="material-icons arr-back">arrow_back</i>
                    </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>